/* Header */

.container {
    margin: 0 15rem;
    height: 100%;
}

.border-line {
    max-width: 100vw;
    height: 0.8rem;
    /* position: absolute; */
    background-color: rgba(35, 35, 35, 0.884);
}

#section-two {
    max-width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #ffffff;
}

.section-two {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
}

.padding {
    padding: 2rem 15rem;
}